@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --radius-lg: 0px;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #C1FF72; /* Solid Acid Green */
  --primary-foreground: #000000;
  --border: #1a1a1a;
}

@layer base {
  * {
    @apply border-border selection:bg-primary selection:text-primary-foreground;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
  h1, h2, h3, h4 {
    @apply font-sans font-bold tracking-tight uppercase;
  }
}

.prose strong {
  background-color: #ffeb3b;
  padding: 0 0.2em;
  border-radius: 0.2em;
  color: inherit;
}

.dark .prose strong {
  background-color: rgba(236, 72, 153, 0.3);
}